body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #abd8e0;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: #d1ecf5;
    min-width: 275px;
}

.header {
    user-select: none;
    width: 100%;
    cursor: pointer;
    background-color: rgba(112, 237, 255, 0.28); 
    border-bottom: 5px solid #31353a;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px
}

.header-logo {
    margin: 0 30px;
    font-size: xx-large;
}

.tablet-nav {
    display: none;
    justify-content: center;
    align-items: center;
    height: 55px;
    min-width: 55px;
    font-size: 20px;
    background-color: #31353a;
}

.tablet-nav a {
    color: rgb(194, 238, 245); 
}

.mobile-nav {
    display: none;
    justify-content: space-between;
    width: 100%;
}

.desc-menu {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    justify-content: space-around;
    list-style: none;
}



.desc-nav-item {
    padding: 30px 10px;
    position: relative;
    font-family: 'TrendSans';
    font-size: 20px;
    text-transform: uppercase;
}

.desc-nav-item a:hover {
    color: rgb(217, 241, 241);
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.5;
}

.animation {
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: rgb(220, 228, 251);
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.animation-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.animation-wrapper h3 {
    margin-top: 30px;
}

.animation button {
    background-color: rgb(165, 251, 250);
    box-shadow: inset 0 0 60px rgb(49, 7, 7);
    width: 20%;
    color: rgb(0, 0, 0);
    padding: .5em;
    margin-top: .4em;
    border: 2px solid rgb(0,0,0);
    border-radius: .5em;
}

.animation button:hover {
    box-shadow: inset 0 0 30px rgb(49, 7, 7);
}

.animation button  a {
    color: rgb(0, 0, 0);
}

.fistLayer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    width: 1000px;
    height: 500px;
    background: url(../img/animation/firstLayer.png);
    background-repeat: no-repeat;    
}

.secondLayer {
    position: relative;
    height: 500px;
    width: 1000px;
    overflow: hidden;
}

@keyframes spin { 
    100% { 
        transform:rotate(-360deg); 
    } 
}

.secondLayer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    animation:spin 120s linear infinite;

}

.about {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    background-color: rgba(112, 237, 255, 0.28);
}


.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    justify-content: center;
    
}

.agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: rgba(112, 237, 255, 0.28);
}

.schedule {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.schedule-item {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.map {
    background-color: rgba(112, 237, 255, 0.28);
    padding: 30px;
    margin-top: 30px;
}

.map img {
    width: 100%;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(112, 237, 255, 0.28);
    margin-top: 30px;
}

.mentors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: rgba(112, 237, 255, 0.28);
}

.mentors-wrapper {    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
}
.mentor {
    font-size: xx-large;
    text-align: center;
}

.mentor img {
    width: 200px;
    height: 150px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: rgba(112, 237, 255, 0.28);
}

.gallery-wrapper {    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
}

.gallery-wrapper img {
    width: 200px;
    height: 150px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: rgba(112, 237, 255, 0.28);
}

.contact-wrapper {    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
}

.contact-wrapper img {
    margin: 50px;
    width: 250px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 100px;
    width: 100%
}

@media (max-width: 1100px) {
 

    .animation-wrapper {
        transform: scale(.9);
    }
}

@media (max-width: 950px) {

    .desc-menu {
        display: none;
        
        position: absolute;
        flex-direction: column;
        top: 80px;
        width: 100%;
        background: grey;
        z-index: 123;
    }

    .header {
        margin-bottom: 0;
    }
    .navigation {
        justify-content: space-around;
    }

    .tablet-nav {
        display: flex;
    }

    .content-wrapper {
        margin-top: 0px;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    .content {
        max-width: 770px;
    } 

    .desc-nav-item {
        padding: 30px 10px;
    }

    .animation-wrapper {
        transform: scale(.8);
    }
}

@media (max-width: 850px) {
    .animation-wrapper {
        transform: scale(.7);
    }
}

@media (max-width: 770px) {

    .animation-wrapper {
        transform: scale(.6);
    }
}

@media (max-width: 650px) {
    .animation-wrapper {
        transform: scale(.5);
    }
}

@media (max-width: 550px) {
    .animation-wrapper {
        transform: scale(.4);
    }
}

@media (max-width: 450px) {
    .animation-wrapper {
        transform: scale(.3);
    }

    .desc-nav-item a {
        font-size: 14px;
    }
}

@media (max-width: 370px) {
    .animation-wrapper {
        transform: scale(.15);
    }
    
    /* .desc-menu {
        display: none;
    } */
    .mobile-nav {
        display: flex;
    }

    .header-logo {
        margin: 0 30px;
        font-size: x-large;
    }

    .header nav {
        height: 35px;
        border: none;
    }

    .tablet-nav {
        height: 35px;
        min-width: 35px;
    }

    .tablet-nav {
        margin-right: 3px;
    }

    .tablet-nav:last-child {
        margin-right: 0px;
        background-color: #6b9ad0;
    }

    .tablet-nav:last-child a{
        color:#9cbce1;
    }

}